.aboutWrapper {
  width: 100%;
  padding: 5rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 0.3rem;
  width: 500px;
}

.content span:first-child {
  font-size: 1.5rem;
  font-weight: bold;
}

.content span:nth-child(n + 2) {
  font-size: 2rem;
  font-weight: bold;
}

.content div > span {
  font-size: 1.25rem;
  font-weight: bold;
}

.summary {
  margin-top: 10px;
  color: #e6e3ff;
  line-height: 1.8;
  font-size: 1rem !important;
  font-weight: 100 !important;
}

.typingText {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #b0a4ff; /* cursor effect */
  width: 0;
  text-shadow: 0 0 20px #6e57ffd5;
  color: #b0a4ff;
  animation: typing 4s steps(30, end) forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 10ch;
  } /* number of characters */
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.cvBtnWrapper {
  margin-top: 15px;
}

.cvBtnWrapper button {
  all: unset;
  border-radius: 50px;
  font-weight: bold;
  padding: 0.8rem 1rem;
  background-color: #b0a4ff;
  color: #090234;
  transition: box-shadow ease-in 0.2s;
}

.cvBtnWrapper button:hover {
  box-shadow: 0 0 20px #6047ff;
}

.profileIcon {
  background-color: white;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 50%;
}

.profileIcon img {
  width: 24vw;
}
