.aboutWrapper {
  width: 100%;
  padding: 6vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 0.3rem;
  max-width: 500px;
}

.content span:first-child {
  font-size: clamp(0.8rem, 4vw, 1.5rem);
  font-weight: bold;
}

.content span:nth-child(n + 2) {
  font-size: clamp(1.15rem, 6vw, 2rem);
  font-weight: bold;
}

.content div > span {
  font-size: clamp(0.8rem, 3vw, 1.25rem);
  font-weight: bold;
}
.summary {
  margin-top: 10px;
  color: #ffffff;
  line-height: 1.8;
  font-size: clamp(0.8rem, 3.6vw, 1.25rem) !important;
  font-weight: 300 !important;
}

.typingText {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid var(--color-primary);
  text-shadow: 0 0 20px var(--color-primary);
  color: var(--color-primary);
  text-wrap: wrap;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.cvBtnWrapper {
  margin-top: 15px;
}

.cvBtnWrapper button {
  all: unset;
  border-radius: 50px;
  font-weight: bold;
  padding: 0.8rem 1rem;
  background-color: var(--color-primary);
  color: #090234;
  transition: box-shadow ease-in 0.2s;
}

.cvBtnWrapper button:hover {
  box-shadow: 0 0 20px var(--color-primary);
}

.profileIcon {
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 0 20px var(--color-primary);
  overflow: hidden;
  width: 320px;
  height: 320px;
  border: 15px solid #ffffff;
}

.profileIcon img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  box-sizing: border-box;
}

/* For mobile screens */
@media (max-width: 600px) {
  .profileIcon {
    width: 200px;
    height: 200px;
    border: 10px solid #fff;
  }
}

/* For very small screens */
@media (max-width: 350px) {
  .profileIcon {
    width: 150px;
    height: 150px;
    border: 8px solid #fff;
  }
}
