.aboutWrapper {
  width: 100%;
  padding: 5rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 0.3rem;
  max-width: 500px;
}

.content span:first-child {
  font-size: clamp(0.8rem, 4vw, 1.5rem);
  font-weight: bold;
}

.content span:nth-child(n + 2) {
  font-size: clamp(1.15rem, 6vw, 2rem);
  font-weight: bold;
}

.content div > span {
  font-size: clamp(0.8rem, 3.6vw, 1.25rem);
  font-weight: bold;
}
.summary {
  margin-top: 10px;
  color: #ffffff;
  line-height: 1.8;
  font-size: clamp(0.8rem, 3.6vw, 1.25rem) !important;
  font-weight: 100 !important;
}

.typingText {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid var(--color-primary); /* cursor effect */
  width: 0;
  text-shadow: 0 0 20px var(--color-primary);
  color: var(--color-primary);
  text-wrap: wrap;
  animation: typing 4s steps(30, end) forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 10ch;
  } /* number of characters */
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.cvBtnWrapper {
  margin-top: 15px;
}

.cvBtnWrapper button {
  all: unset;
  border-radius: 50px;
  font-weight: bold;
  padding: 0.8rem 1rem;
  background-color: var(--color-primary);
  color: #090234;
  transition: box-shadow ease-in 0.2s;
}

.cvBtnWrapper button:hover {
  box-shadow: 0 0 20px var(--color-primary);
}

.profileIcon {
  background-color: white;
  padding: max(1.25rem, 0.5vw);
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 0 20px var(--color-primary);
}

.profileIcon img {
  width: 24vw;
  max-width: 300px;
}
