.topPanelWrappper {
  color: rgb(255, 255, 255);
  display: flex;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  position: sticky;
  background-color: rgba(1, 1, 19, 0.096);
  backdrop-filter: blur(3px);
  height: clamp(2rem, 6vw, 4rem);
  box-sizing: border-box;
  overflow: visible;
  z-index: 10;
}

.topPanelContent {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 1.5rem;
  padding: 1rem 2rem;
  justify-content: space-evenly;
  background-color: inherit;
}

.name {
  font-weight: 600;
  font-size: 1.25rem;
}

.specialCases {
  color: var(--color-primary);
  font-weight: bolder;
}

.buttonContainer {
  justify-self: center;
  display: flex;
  gap: 1.25rem;
  position: relative;
}

.socialLinks {
  display: flex;
  gap: 1.5rem;
}

.socialLinks i {
  color: white;
  font-size: 20px;
}

.socialLinks a {
  transition: all 0.3s ease;
}

.socialLinks a:hover {
  filter: drop-shadow(0 0 8px var(--color-primary));
  transform: translateY(-4px);
}

/* scroll buttons */
.scrollBtn {
  display: none;
  background: var(--color-primary);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  transition: opacity 0.3s ease;
  position: absolute;
  z-index: 10;
  opacity: 0.6;
  height: 100%;
}

.scrollBtn:hover {
  opacity: 1;
}

.scrollBtn.left {
  left: 0px;
}

.scrollBtn.right {
  right: 0px;
}

/* When width decreases, shrink and enable scroll */
@media (max-width: 740px) {
  .scrollWrapper {
    width: 100%;
  }

  .scrollBtn {
    display: block;
  }
}
