:root {
  --color-purple: #b0a4ff;

  --color-cyan: #a4fff7;

  --color-pink: #eaa4ff;

  --color-blue: #4684ff;

  --color-green: #88ffa8;

  --color-primary: var(--color-purple);

  --theme-popup-left: 0;
  --theme-popup-top: 0;
}

.page-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at center, #01051d, #010115, #000008);
  overflow: hidden;
}

.stars {
  position: absolute;
  width: 100%;
  height: 300%;
  pointer-events: none;
  animation: rotate 300s ease-in-out infinite alternate;
}

.star {
  position: absolute;
  background-color: var(--color-primary);
  border-radius: 50%;
  box-shadow: 0 0 6px var(--color-primary);
  animation: flicker 3s ease-in-out infinite alternate;
}

@keyframes flicker {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.main-content {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: inherit;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.main-content::-webkit-scrollbar-track {
  background-color: inherit;
}
.main-content::-webkit-scrollbar {
  background-color: inherit;
  width: 3px;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: color-mix(in srgb, var(--color-primary) 40%, transparent);
  opacity: 0.4 !important;
  border-radius: 10px;
}

.main-content::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}
