.themeSelector {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: fixed;
  top: calc(100% + 10px);
  background-color: rgba(4, 4, 28, 0.466);
  border: 1px solid var(--color-primary);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  padding: 0.5rem;
  z-index: 20;
  top: var(--theme-popup-top);
  left: var(--theme-popup-left);
}

.themeOption {
  border: none;
  background-color: inherit;
  color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  font-size: large;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.themeOption:hover {
  background-color: #706c883e;
}

.themeIndicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
